<%= div_for dream do %>
  <div id="dream-<%= dream.id %>">
  	<table class="table">
  	  <tr>
  	    <th><strong>Nombre:</strong></th>
  	    <th><strong><strong>Correo Electrónico:</strong></strong></th>
  	    <th><strong>Sueño:</strong></th>
  	    <th><strong>Précio:</strong> $</th>
  	    <th><strong>Año(s):</strong></th>
  	    <th><strong>Comentarios:</strong></th>
  	    <th><strong>Opciones:</strong></th>
  	  </tr>
  	  <tr>
  	    <td><%= link_to dream.name, dream %></td>
  	    <td> <%= dream.email %></td>
  	    <td><%= dream.dream %></td>
  	    <td><%= dream.amount %>0 Dólares</td>
  	    <td><%= dream.term %></td>
  	    <td><%= dream.comments %></td>
  	    <td>
			    <%= link_to 'Ver', dream %> 
			    <%= link_to 'Editar', edit_dream_path(dream) %> 
			    <%= link_to 'Destruir', dream, method: :delete, remote: true %> 
  	    </td>
  	  </tr>
  	</table>
     
  </div>
<% end %>