<%= form_for(@dream) do |f| %>
  <% if @dream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dream.errors.count, "error") %> prohibited this dream from being saved:</h2>
      <ul>
      <% @dream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre_completo %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Correo_electrónico %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Elige_tu_sueño %><br>
    <%= f.select :dream, 
        options_for_select([['Auto','Car'],['Casa','House'],['Educación','Education'],['Viaje','Travel'], ['Otro','Other']]) %>
  </div>
  <div class="field">
    <%= f.label :Valor %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :En_cuanto_tiempo_quieres_que_se_haga_realidad? %><br>
    <%= f.select :term, 
                  options_for_select([['1','1'],['2','2'],['3','3'],['4','4']]
                  ) %> <p class="años_dream_form">Años.</p>
  </div>
  <div class="field">
    <%= f.label :Dejanos_tus_comentarios_o_dudas %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
