<p id="notice"><%= notice %></p>

<h1>Listing Dreams</h1>

    <div id="dreams">
        <%= render @dreams %>
    </div>

<%= form_for(Dream.new, remote: true) do |f| %>
  <div class="field">
    <%= f.label :name %> <br>
    <%=  f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>

<%= link_to 'New Dream', new_dream_path %>

