<p id="notice"><%= notice %></p>

<h1>Listing Dreams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div id="dreams">
      <% @dreams.each do |dream| %>
        <%= div_for dream do %>
          <tr id="dream-<%= dream.id %>">
            <td> <%= link_to "Sueño de #{dream.name}", dream %> </td>
            <td><%= link_to 'Show', dream %></td>
            <td><%= link_to 'Edit', edit_dream_path(dream) %></td>
            <td><%= link_to 'Destroy', dream, method: :delete, remote: true %></td>
          </tr>
        <% end %>
      <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Dream', new_dream_path %>
